@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Raleway&family=Sansita+Swashed:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Raleway';
}
.main{
/*    background: linear-gradient(#ddd6f3 30%, #faaca8 70%);*/
/*background-color: #222222;
background-image:url("./images/abstract.png"); 
background-size: 100% 20%;*/
 background-color: #013A6B;
  background-image: -webkit-linear-gradient(30deg, #202020 50%, #101010 50%);
  min-height: 500px;

}
.image-col{
    background-image: url("./images/triangle-alt.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
/*    border: black 2px solid;
    width: 50%;
    height: 80%;
    margin: 2% 2% 2% 2%;
    box-shadow: rgb(0, 0, 0) 3px 3px 3px;
    margin-left: 25%;*/
}
.v-center
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.text{
    color:#fecf6c;
    font-size: 55px;
    text-align: left !important;
}
.sub-text{
  
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5%;
}
.about{
    color: #ffda50;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.list{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.skill-list{
     color: white;
    font-size: 25px;
    text-align: center;
}
.skill-list:hover{
    color: #ffda50;
    transition: 0.3s;
    
}
.work{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.line{
    border-bottom: solid 2px #ffdf6c;
    width: 50%;
}
.workabout{
    text-shadow: rgb(0, 0, 0) 1px 1px 1px;
    text-align: left;
}
.footer{
    color:white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
.footer a span{
    color: white;
    transition: 0.3;
}
.footer a span:hover{
    color: #ffda50;
}
    .list li{
margin-bottom: 10px;
    }
@media screen and (max-width : 500px){
    .image{
        border-radius: 50%;
    }  
    .text{
        color: rgb(0, 0, 0);
        font-size: 35px;
        text-align: center !important;
    }
    .about{
        font-size: 35px;
        font-weight: bold;
        text-align: left;
        text-transform: capitalize;
    }
    .list{
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-left: 2%;
        
    }  
    .work{
        font-size: 20px;
        font-weight: bold;
        margin-left: 2%;
    } 
    .footer{
        font-size: 25px;
    }     
}
.btn-outline-light{
    color: white;

}
.btn-outline-light:hover{
    transition: 0.3s;
    border-color: #ffda50;
    color:#ffda50;
    background-color: transparent;
}
.top-border
{
  height: 100px;
  background-image: url('./images/top-border.png');
  background-size: contain;
  background-repeat: repeat-x;
}